[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".config/mpv/scripts/mpv-playlistmanager"]
	path = .config/mpv/scripts/mpv-playlistmanager
	url = https://github.com/jonniek/mpv-playlistmanager
[submodule ".config/mpv/scripts/mpv-nextfile"]
	path = .config/mpv/scripts/mpv-nextfile
	url = https://github.com/jonniek/mpv-nextfile