[Desktop Entry]
Version=1.0
Type=Application
Name=pause
Comment=
Exec=quodlibet --pause
Icon=media-playback-pause
Path=
Terminal=false
StartupNotify=false
