[Desktop Entry]
Version=1.0
Type=Application
Name=previous
Comment=
Exec=quodlibet --previous
Icon=media-skip-backward
Path=
Terminal=false
StartupNotify=false
