[Desktop Entry]
Version=1.0
Type=Application
Name=next
Comment=
Exec=quodlibet --next
Icon=media-skip-forward
Path=
Terminal=false
StartupNotify=false
