[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rafif/Desktop/screencapture-docs-google-forms-d-e-1FAIpQLSdr8Ec5jergpP89FmbbdrL6cCHmmCmqPCB_yXZPngu3ROnsKg-formResponse-2018-05-08-06_31_33.png]
row=0
col=0

